*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 40px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 340px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 1px;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
  gap: 4px;
  background-color: transparent;
  color: #b1b1b1;
  transition: all 0.3s ease-in-out;
}
.top button:hover {
  cursor: pointer;
  color: #4d4d4d;
  background-color: #f5f5f5;
  transition: 0.1s ease-in-out;
}

/* .center {
  margin-top: 15px;
} */

.center-div {
  margin-top: 15px;
}

.center h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0; /* Removes default spacing */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.center h3 span {
  font-size: 12px;
  font-weight: 500;
  color: #8b8b8b;
}

.center h2 {
  font-size: 22px;
  margin: 8px 0;
}

/* This targets the div wrapping your h4 tags */
.center .tag {
  display: flex;
  gap: 8px;
}

.center h4 {
  font-size: 12px;
  background-color: #f0f0f0;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 400;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-top: 15px;
  border-top: 1.5px solid #d7d7d7d4;
}

.bottom button {
  border: none;
  column-width: 600;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.bottom p {
  font-size: 11px;
  font-weight: 500;
  color: #8b8b8b;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: #dadada; /* Color of the scrollable handle */
  border-radius: 20px;       /* Roundness of the handle */
  border: 1.5px solid transparent; /* Creates padding effect */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #262626; /* Darkens when hovering */
}