*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
   sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
  background: #111;
}

.parent {
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.card {
  border: 2px solid white;
  background-color: #353535;
  text-align: center;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
}

.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}

.card h1 {
  margin: 10px 0;
}

.card button {
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}