*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, 
body {
  height: 100%;
  width: 100%;
}

input, button {
  margin: 10px;
  padding: 20px 30px;
  font-size: 20px;
}

button {
  background-color: gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
}