*{
  margin: 20px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  background-color: #222;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
}

h1 {
  background-color: rgb(220, 220, 220);
  width: fit-content;
  padding: 10px 240px;
  border-radius: 10px;
  font-size: 70px;
}